.custom-button{
    cursor: pointer;
    padding: 10px 40px;
    background-color: black;
    transition: all 0.3s ease-in;
    color:white;
    text-align: center;
    font-size: 15Px;
    line-height: 50px;
    &:hover{
        background-color: transparent;
        color: black;
    }

    &.google-signin{
    background-color: #4285f4;
    &:hover{
        background-color: #3578e8;
        color:white;
        border:none;
    }
}

}