.custom-button {
  cursor: pointer;
  padding: 5px 40px;
  background-color: black;
  transition: all 0.3s ease-in;
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 50px;
  border: 2px solid black;
}
.custom-button:hover {
  background-color: transparent;
  color: black;
}
.custom-button.google-signin {
  background-color: #4285f4;
  border: none;
}
.custom-button.google-signin:hover {
  background-color: #3578e8;
  color: white;
  border: none;
}
