.collection-item {
  width: 22%;
  height: 400px;
}
.collection-item .image {
  height: 90%;
  background-size: cover;
}
.collection-item .collection-footer {
  height: 10%;
  width: 100%;
  z-index: 22;
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
